@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ck362l');
  src:  url('../fonts/icomoon.eot?ck362l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ck362l') format('truetype'),
    url('../fonts/icomoon.woff?ck362l') format('woff'),
    url('../fonts/icomoon.svg?ck362l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playstore:before {
  content: "\e915";
  color: #a4c639;
}
.icon-apple:before {
  content: "\e916";
  color: #999;
}
.icon-fire:before {
  content: "\e917";
}
.icon-chat:before {
  content: "\e918";
  color: #7289da;
}
.icon-dchat:before {
  content: "\e919";
  color: #2e9fff;
}
.icon-youtube:before {
  content: "\e91a";
  color: #cd201f;
}
.icon-playbtn:before {
  content: "\e91d";
}
.icon-testimonial-01:before {
  content: "\e91c";
}
.icon-downloads:before {
  content: "\e912";
}
.icon-users:before {
  content: "\e91b";
}
.icon-ratings:before {
  content: "\e913";
}
.icon-shares:before {
  content: "\e914";
}
.icon-behance:before {
  content: "\e900";
}
.icon-browser:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-googlePlus:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-linkdin:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e906";
}
.icon-map:before {
  content: "\e907";
}
.icon-notepad:before {
  content: "\e908";
}
.icon-notification:before {
  content: "\e909";
}
.icon-report:before {
  content: "\e90a";
}
.icon-sales:before {
  content: "\e90b";
}
.icon-target:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
.icon-userEdit:before {
  content: "\e90f";
}
.icon-userSettings:before {
  content: "\e910";
}
.icon-vimeo:before {
  content: "\e911";
}
