/*-----------RESPONSIVE----------*/
@media (max-width: 600px) and (min-width: 320px){
	.main_container{
	  padding:40px 15px !important;
	}
}
@media (max-height: 767px) and (min-width: 320px){
  .left-sidebar .banner-container {
    margin-bottom: 100px !important;
    height: 320px !important;
  }
}
@media (max-height: 767px) and (min-width: 800px){
  .left-sidebar .banner-container {
    margin-bottom: 100px !important;
    height: 270px !important;
  }
}
@media all and (max-height: 768px){
  .left-sidebar .banner-container{
      margin-bottom: 125px;
    height: 310px;
  }
  .left-sidebar .banner-container .banner-img-block{
    height: 300px;
    margin: 80px auto 0;
    width: 330px;
    background-size: 100%;
  }
}
@media all and (max-width: 767px) {
  .caseStudy_outer{
    .header{
      h1{
        font-size: 18px  !important;
      }
    }
  }
  body:not(.work-page){
	  .intro,.social-container{
		display:none;
	  }
  }
  
  .left-sidebar{
    .ga-container{
      height: 480px !important;
    }
  }
  .left-sidebar .banner-container {
    width: ~"calc(100% + 90px)";
    margin-left: -45px;
    margin-right: -45px;
  }
  .works-container{
    img{
      border-radius: 0px;
    }
  }
}
@media (max-width: 1023px) and (min-width: 768px){
.left-sidebar .banner-container {
   width: ~"calc(100% + 90px)";
    margin-left: -45px;
    margin-right: -45px;
  }
  .left-sidebar{
    .ga-container{
      height: 610px !important;
    }
    .banner-container{
    height: 380px;
    .banner-img-block{
    width: 450px;
    height: 440px;
    }
    }
  }
  .works-container{
    img{
      border-radius: 0px;
    }
  }
}
@media all and (max-width: 992px) {
  .works{
    padding:30px 30px;
  }
  .content-block{
    margin: 20px 0px;
    padding: 30px;
  }
  .work1{
		padding-bottom: 0;
  }
  .work1 .content-block {
	margin: 0px -18px 0 -18px;
    width: ~'calc(100% + 36px)';
    max-width: ~'calc(100% + 36px)';
    background-color: #000;
	h2{
		font-size: 22px;
	}
	p{
		font-size: 13px;
		color:#fff;
	}
  }
  .work2{
	padding-top: 0;
		padding-bottom: 0;
  }
  .work2 .content-block {
	margin: 0px -18px 0 -18px;
    width: ~'calc(100% + 36px)';
    max-width: ~'calc(100% + 36px)';
    background-color: #000;
	h2{
		font-size: 22px;
	}
	p{
	    font-size: 13px;
		color:#fff;
	}
  }
  .work3{
		padding-bottom: 0;
  }
  .work3 .content-block {
	margin: 0px -18px 0 -18px;
    width: ~'calc(100% + 36px)';
    max-width: ~'calc(100% + 36px)';
    background-color: #000;
	h2{
		font-size: 22px;
	}
	p{
		font-size: 13px;
		color:#fff;
	}
  }
  .home-right_container,.skills-right_container, .contact-right_container, .work-right_container{
    padding: 0;
  }
  .left-sidebar{
      height:auto !important;
    .ga-container{
     // height: 360px !important;
    }
  }
  .banner_outer{
    background-color: #f8e6ed;
    margin: 25px -47px;
  }
  .contact-forms{
    address{
      display: block;
      width: 100%;
      max-width: 200px;
      text-align: center;
      margin: 0 auto;
    }
    .btn-xl {
      padding: 16px 40px;
    }
  }
}
@media all and (max-width: 1023px) {
  .works{
    .btn{
     display: inline-block;
     border-radius: 5px;
    }
  }
  .main_container{
    height:auto;
  }
  .logo{
    left:35px !important;
    top: -15px !important;;
  }
  .left-sidebar{
    .fixed-top{
      top: 0px;
      background-color: transparent;
    }
    .ga-container{
     // height: 610px !important;
    }
  } 
  .btn-primary{
    display: block;
    margin: 20px auto;
    border-radius: 0px;
  }
  .hoverBox {
    ul{
      li{
        a{
          font-size: 20px;
          line-height: 12px;
        }
        h4{
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 1024px) and (min-width: 769px){
  .main_container {
      height: auto;
  }
  .main-menu{
    .nav-item{
      a{
        font-size: 15px;
      //  padding: 0 0.5rem !important;
      }
    }
    ul.navbar-nav{
      li{
        &:first-child{
        margin-left: 10px;
        }
      }
    }
  }
  .ga-container{
    height: 430px !important;
  }
}
@media (max-width: 1580px) and (min-width: 1260px){
  .ga-container{
   // height: 475px !important;
  }
}
@media all and (min-width: 1024px) {
  .works{
  height: 360px;
  }
  .left-sidebar{ 
    position: fixed;
    top: 40px;
    left: 35px;
   
    .header{
      position:relative;
    }
    .fixed-top{
      bottom:-60px;
      //background-color: #000;
    }
  }
  .contact-forms{
    .btn-primary{
      float: right;
    }
  }
}
@media (max-width: 1024px) and (min-width: 769px){
  .left-sidebar{
     width: 460px; 
  }
  .works {
    height: 220px;
    h2{
      font-size: 20px;
    }
    p{
      font-size: 13px;
      line-height: 18px;
    }
     .btn {    
      padding: 10px 15px;
      margin: 16px 0 0;
      font-size: 12px;
    }

  }
}

@media (max-width: 1346px) and (min-width: 1200px){
  .left-sidebar{
     width: 500px; 
  }
  .ga-container{
    height: 475px !important;
  }
}
@media all and (min-width: 1420px) {

  .left-sidebar{
     width: 560px; 
  }
  .ga-container{
    height: 530px !important;
  }
}
@media all and (max-width: 1024px) {
  .caseStudy_outer{
    .case-img,
    .case-img-1000{
      max-width:100%;
    }
    .header{
      h1{
        line-height: 120px;
        font-size: 22px;
      }
      .logo-case{
        margin-left:0px;
      }
    }
    .menu{
      height: 95px;
      ul{
        li{
          line-height: 80px;
        }
      }
    }
    img{
      max-width:100%;
    }
    .nav-link{
      padding:.5rem .5rem;
    }    
  }
  .hoverBox {
    ul{
      li{
        a{
          font-size: 20px;
          line-height: 12px;
        }
        h4{
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}

@media all and (max-width: 1580px) {
  .works-container{
    img{
      max-width:760px;
    }
  }
}
@media (max-width: 1340px) and (min-width: 1024px){
.hoverBox {
    ul{
      li{
        a{
          font-size: 25px;
          line-height: 12px;
        }
        h4{
          font-size: 13px;
          margin: 0;
        }
      }
    }
  }
}